.d-block {
  display: block;
}

.col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 59.34%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.grid-column-gap-1 {
  grid-column-gap: 1rem;
}

.grid-template-2-columns {
  grid-template-columns: repeat(2, 1fr)
}

.grid-column-start-1 {
  grid-column-start: 1;
}

.grid-column-start-2 {
  grid-column-start: 2;
}

.grid-column-end-2 {
  grid-column-end: 2;
}

.grid-column-end-3 {
  grid-column-end: 3;
}

.grid-row-start-1 {
  grid-row-start: 1;
}

.grid-row-end-3 {
  grid-row-end: 3;
}

.grid-column-start-3 {
  grid-column-start: 3;
}

.grid-column-end-4 {
  grid-column-end: 4
}

.w-80 {
  width: 80%;
}

@include on-md-to-xl() {

  .md-w-60 {
    width: 60%;
  }

  .col-md-4 {
    width: 25%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-8 {
    width: 66%;
  }

  .d-md-block {
    display: block;
  }

  .md-grid-3-template-columns {
    grid-template-columns: repeat(3, 1fr);
  }

  .md-grid-26p25-26p25-27p125-columns {
    grid-template-columns: 1fr 1fr 1.03fr;
  }

}


