.image-responsive {
  width: 100%;
}

.background-position-center-center {
  background-position: center center;
}

.background-size {
  background-size: cover;
}

.background-no-repeat {
  background-repeat: no-repeat;
}