.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.left-0 {
  left: 0;
}

.position-v-center {
  top: 50%;
  transform: translateY(-50%);
}

.bottom-10 {
  bottom: 10%;
}

.left--1p25 {
  left: -1.25rem;
}


.left-50 {
  left: 50%;
}

.right--2p {
  right: -2rem;
}

.translateX--50 {
  transform: translateX(-50%);
}

.top-0p125 {
  top: 0.125rem;
}


.top--1p5625 {
  top: -1.5625rem;
}

.top-p25 {
  top: .25rem;
}

.top--1p5 {
  top: -1.5rem;
}