<div class="associated-with mb-3p125 d-flex flex-column md-flex-row md-mb-5p5">
    <div class="d-flex flex-column mb-1p75 md-flex-row fb-100 md-fb-50 align-items-center justify-content-space-between ">
        <div class="associated-with__title fw-500 fs-1 lh-1p5 text-center mb-0p6875 fb-100 md-fb-50 md-fs-1p44">Associated With:</div>
        <img src="{{ .Params.associated_with }}" class="associated-with__image d-block mx-auto fb-100 md-fb-50" alt="{{ .Site.Title }} Association with Wellness Brews" />
    </div>
    <div class="associated-with__working fw-500 fs-p83 lh-1 text-subtitle-color text-center px-1p3125 fb-100 md-fb-50 md-fs-1p728 md-lh-2 md-d-flex md-align-items-center">{{ .Params.started_working_with }}</div>
</div>