<div class="farm-team mb-4">
    <div class="farm-team__subtitle pt-3p125 text-subtitle-color fw-500 fs-1 lh-1p5 text-center md-fs-1p728 md-lh-2 md-mb-p5">Farm Team</div>
    <div class="farm-team__heading fw-600 fs-1p728 lh-2 text-center mb-3p125 md-fs-2p488 md-lh-2p5 md-mb-6p8125">Our Strength</div>
    <div class="farm-team__members d-flex flex-row flex-wrap justify-content-center align-items-center md-justify-content-space-around">
        {{ $context  := .Params }}
        {{ range .Params.members }}
        <div class="farm-team__member fb-50 mb-2p625 d-flex flex-column align-items-center md-fb-auto">
            <div class="farm-team__member__image--wrapper relative mb-1p25 md-mb-1p875">
                <img class="absolute farm-team__member__image--before z-1 left--1p25 top--1p5" src="{{ $context.members_image_before }}" alt="Leaves" aria-hidden="true"/>
                <img class="farm-team__member__image border-circle b-1 b-white z-1 relative"  src="{{ .image }}" alt="{{ .name }}'s Image" />
                <img class="absolute farm-team__member__image--after top-p25 right--2p" src="{{ $context.members_image_after }}" alt="Leaves" aria-hidden="true"/>
            </div>
            <div class="farm-team__member--name fw-500 fs-1p2 lh-1p5 md-fs-1p728 md-lh-2">{{ .name }}</div>
            <div class="farm-team__member--role fw-500 fs-p83 lh-1 text-subtitle-color md-fs-1 md-lh-1p5">{{ .role }}</div>
        </div>
        {{ end }}
    </div>
</div>