<div class="farm-and-person absolute" aria-hidden="true">
    <div class="farm-and-person__wrapper relative">
        <img src="person.png" class="farm-and-person__person absolute image-responsive"/>
        <img src="farm.png" class="farm-and-person__farm absolute image-responsive"/>
    </div>

    <div class="explore-our-blogs">
        <div class="explore fs-1 lh-1p5 text-subtitle-color fw-600 md-fs-1p728 md-lh-2">Explore</div>
        <div class="our-blogs fs-1p44 lh-1p5 md-fs-2p488 md-lh-2p5">Our Blogs</div>
    </div>

</div>