.articles {

  list-style: none;
  margin-top: 450px;

  @include on-md-to-xl() {
    margin-top: 811px;
  }

  .article {

    background: #F8FAFC;
    border-radius: 0.6875rem;

    padding: 1.4375rem 1.5625rem;

    @include on-md-to-xl() {
      padding: 3.9375rem 6.875rem;
    }

    &__title {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;

      color: black;
      text-decoration: none;
    }

    &__image {
      height: 6.4375rem;
      width: 6.4375rem;
      border-radius: .25rem;

      @include on-md-to-xl() {
        height: 26.25rem;
        width: 26.25rem;
      }
    }

    &__tags {

      ul {
        list-style: none;
      }
    }

    &__tag {
      background: #EBD8A0;
      border-radius: 1.75rem;
      padding: 4px 11px;

      a {
        text-decoration: none;
      }
    }

    &__action {
      font-size: 1.25rem;
    }

  }

  > li:last-child {
    padding-bottom: 13.875rem;
  }

}