<div class="living-farms-grid-lower d-grid grid-row mb-2p625 md-mb-4p75">
    {{ with .Params.grid.kid }}
    <img srcset="{{ .mobile }} 143w,
                           {{ .desktop }} 420w"
         sizes="(max-width: 420px) 480x, 800px"
         alt="{{ .alt }}"
         class="image-responsive living-farms-grid-lower__kid-sitting border-1p375"/>
    {{ end }}

    {{ with .Params.grid.leaves }}
    <img srcset="{{ .mobile }} 143w,
                           {{ .desktop }} 420w"
         sizes="(max-width: 420px) 480x, 800px"
         alt="{{ .alt }}"
         class="image-responsive living-farms-grid-lower__leaves border-1p375"/>
    {{ end }}

    {{ with .Params.grid.grandfather }}
    <img srcset="{{ .mobile }} 143w,
                           {{ .desktop }} 420w"
         sizes="(max-width: 420px) 480x, 800px"
         alt="{{ .alt }}"
         class="image-responsive living-farms-grid-lower__grandfather"/>
    {{ end }}

    {{ with .Params.grid.farms }}
    <img srcset="{{ .mobile }} 143w,
                           {{ .desktop }} 420w"
         sizes="(max-width: 420px) 480x, 800px"
         alt="{{ .alt }}"
         class="image-responsive living-farms-grid-lower__farms"/>
    {{ end }}

    {{ with .Params.grid.kidsPlaying }}
    <img srcset="{{ .mobile }} 295w,
                           {{ .desktop }} 1300w"
         sizes="(max-width: 420px) 480x, 800px"
         alt="{{ .alt }}"
         class="image-responsive living-farms-grid-lower__kids-playing"/>
    {{ end }}

    {{ with .Params.grid.greenField }}
    <img srcset="{{ .mobile }} 143w,
                           {{ .desktop }} 420w"
         sizes="(max-width: 420px) 480x, 800px"
         alt="{{ .alt }}"
         class="image-responsive living-farms-grid-lower__green-field"/>
    {{ end }}

    {{ with .Params.grid.peopleWorking }}
    <img srcset="{{ .mobile }} 143w,
                           {{ .desktop }} 420w"
         sizes="(max-width: 420px) 480x, 800px"
         alt="{{ .alt }}"
         class="image-responsive living-farms-grid-lower__people-working"/>
    {{ end }}

</div>